/* Color styles: 
    Blues: #072AC8, #43D2FF, #A2D6F9, #D1EDFF, #ECF7FF
    Greys: #292E47, #6B708D, #F2F4FC
    Yellow: #FFC600
*/

* {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: #F2F4FC;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* shared */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.button {
    color: #FFFFFF;
    background-color: #072AC8;
    padding: 15px 30px;
}

.button:hover {
    background-color: #292E47;
}

.menu-link {
    font-weight: 500;
    color: #6B708D;
}

.menu-link:hover {
    color: #072AC8;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #292E47;
    line-height: 36px;
    margin: 20px 0px 30px 0px;
}

.container {
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

.container .recent-project-title,
.container .recent-project-body {
    line-height: 115%;
    color: #292E47;
    background-color: #FFFFFF;
}

.container .recent-project-title {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 30px 20px 30px;
}

.container .recent-project-body {
    font-weight: 400;
    margin: 0px 30px 10px 30px;
}

.link-learn-more {
    font-weight: 500;
    color: #072AC8;
    background-color: #FFFFFF;
    display: block;
    margin: 30px;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
}

header #circle-logo {
    height: 18px;
}

header ul {
    display: none;
}

header ul li .menu-link {
    padding: 20px;
}

header ul li .actual-page {
    color: #0082F3;
}

header .button {
    display: none;
}

/* header #display-menu {
    background-color: #6B708D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    transform: translateY(-100%);
    transition: transform 0.2s;
}

.showMenu {
    transform: translateY(0);
} */

header #display-menu #menu-icon {
    height: 17px;
}


/* section hero */
#hero {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #292E47;
    margin: 20px 0px 30px 0px;
}

#hero p {
    line-height: 150%;
    color: #6B708D;
    text-align: center;
    margin-bottom: 40px;
}

#hero #hero-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero #hero-links .button {
    margin-bottom: 20px;
}

#hero #hero-links .menu-link {
    font-weight: 400;
}

#hero #hero-photos {
    margin-top: 40px;
}

#hero #hero-photos #hero-photo {
    width: 560px;
    max-width: 100%;
    display: flex;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#hero #card-1,
#hero #card-2 {
    display: none;
}


/* section brands */
#brands {
    padding: 0px 30px;
}

#brands #grid {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    justify-items: center;
    margin-top: 70px;
}

#brands #grid div {
    height: 96px;
}

#brands #grid div:last-child,
#brands #grid #amazon {
    display: none;
}


/* section recent projects */
#recent-projects {
    padding: 0px 30px;
}

#recent-projects #projects {
    display: flex;
    flex-direction: column;
}

#recent-projects #projects .container img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    max-width: 100%;
}


/* section clients */
#clients {
    height: 450px;
    background-color: #292E47;
    background-image: url("images/home/orbit.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0px 30px;
    margin-top: 60px;
}

#clients h2 {
    max-width: 400px;
    line-height: 150%;
    color: #FFFFFF;
    background-color: transparent;
    padding-top: 30px;
    margin: 0;
}

#clients > p {
    font-size: 24px;
    color: #ffc600;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    background-color: transparent;
    max-width: 560px;
}

#clients #client {
    background-color: transparent;
    display: flex;
    align-items: center;
}

#clients #client #profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("images/home/profile.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#clients #client #client-info {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#clients #client #client-info p {
    text-align: left;
    background-color: transparent;
    padding: 0;
}

#clients #client #client-info p {
    color: #A2D6F9;
}

#clients #client #client-info p:last-child {
    font-size: 13px;
    color: #ECF7FF;
}

#clients img {
    background-color: transparent;
    position: absolute;
    display: none;
}


/* section our services */
#our-services {
    padding: 0px 30px;
    margin-top: 40px;
}

#our-services #services {
    display: flex;
    flex-direction: column;
}

#our-services #services .container .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ECF7FF;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
    margin-left: 40px;
}

#our-services #services .container:nth-child(1) .icon {
    background-image: url("images/home/1.svg");
}

#our-services #services .container:nth-child(2) .icon {
    background-image: url("images/home/2.svg");
}

#our-services #services .container:nth-child(3) .icon {
    background-image: url("images/home/3.svg");
}


/* section questions */
#questions {
    background-color: #FFC600;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    margin-top: 60px;
}

#questions h2 {
    line-height: 150%;
    text-align: left;
    background-color: transparent;
}

#questions p {
    text-align: center;
    color: #6B708D;
    background-color: transparent;
}

#questions form {
    max-width: 100%;
    background-color: transparent;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

#questions form #mail {
    width: 243px;
    height: 80px;
    background-color: #ECF7FF;
    border: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding: 20px;
}

#questions form #mail input,
#questions form #mail img {
    background-color: #ECF7FF;
}

#questions form #mail input {
    width: 100%;
    text-decoration: none;
    border: transparent;
    outline: none;
    padding-left: 20px;
}

#questions form #mail input::placeholder {
    color: #292E47;
}

#questions form div:nth-child(2) {
    width: 243px;
    background-color: transparent;
}

#questions form .button {
    width: 100%;
    height: 80px;
    border: transparent;
    cursor: pointer;
    margin-top: 20px;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 100px 30px;
    margin-top: 60px;
}

footer #text-footer {
    text-align: center;
}

footer a img {
    width: 100px;
    margin-bottom: 30px;
}

footer p {
    line-height: 150%;
    color: #6B708D;
    max-width: 260px;
}

footer #footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 20px;
}

footer #footer-links:active {
    color: red;
}


/* media queries */
@media screen and (min-width: 480px) {
    /* shared */
    h2 {
        font-size: 40px;
    }


    /* section hero */
    h1 {
        font-size: 40px;
        line-height: 130%;
    }

    #hero #hero-text {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #hero #hero-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #hero #hero-links .button {
        margin-bottom: 0px;
        margin-right: 40px;
    }


    /* section questions  */
    #questions h2 {
        font-size: 30px;
        text-align: center;
    }

    #questions form #mail,
    #questions form div:nth-child(2) {
        width: 393px;
    }
}


@media screen and (min-width: 768px) {
    /* shared */
    h2 {
        text-align: left;
        margin-bottom: 70px;
    }


    /* section hero */
    h1 {
        font-size: 60px;
    }

    #hero #hero-text {
        max-width: 700px;
    }
    
    #hero p {
        font-size: 20px;
    }
    
    #hero #hero-photos {
        position: relative;   
    }

    #hero #hero-photos #card-1 {
        background-color: transparent;
        width: 294px;
        max-width: 375px;
        display: inline-block;
        position: absolute;
        left: auto;
        top: 0%;
        right: 63%;
        bottom: auto;
    }

    #hero #hero-photos #card-2 {
        background-color: transparent;
        width: 294px;
        max-width: 375px;
        display: inline-block;
        position: absolute;
        left: 63%;
        top: auto;
        right: auto;
        bottom: -22%;
    }


    /* section brands */
    #brands #grid {
        margin-top: 150px;
    }


    /* section recent projects */
    #recent-projects #projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }


    /* section clients */
    #clients {
        height: 500px;
    }

    #clients h2 {
        text-align: center;
    }

    #clients img {
        width: 100px;
        height: 100px;
        display: flex;
        position: absolute;
        margin-top: 5%;
        margin-left: 10%;
    }
    
    #clients img:nth-child(1) {
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
    }

    #clients img:nth-child(2) {
        left: auto;
        top: auto;
        right: 0%;
        bottom: 0%;
        margin: 0% 10% 5% 0%;
    }

    #clients img:nth-child(3) {
        left: 0%;
        top: auto;
        right: auto;
        bottom: 0%;
        margin-bottom: 5%;
    }

    #clients img:nth-child(4) {
        left: auto;
        top: 0%;
        right: 0%;
        bottom: auto;
        margin-right: 10%;
    }


    /* section our services */
    #our-services #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
    }

    #our-services #services .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    /* section questions */
    #questions h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #questions form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #questions form div:nth-child(2) {
        width: 185px;
    }

    #questions form .button {
        padding-right: 60px;
        padding-left: 60px;
        margin-top: 0px;
        margin-left: 20px;
    }


    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    footer #text-footer {
        text-align: left;
    }
}


@media screen and (min-width: 992px) {
    /* shared */
    header, #hero, #brands, #recent-projects, #our-services, footer {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }


    /* header */
    header {
        padding: 0px 30px;
        margin-top: 70px;
    }

    header ul {
        display: flex;
    }

    header a:first-child {
        margin-left: 0px;
    }

    header .button {
        display: flex;
        margin-right: 0px;
    }
    
    header #menu-icon {
        display: none;
    }


    /* section hero */
    #hero {
        flex-direction: row;
        align-items: center;
        padding-top: 100px;
    }

    #hero #hero-text {
        max-width: 530px;
    }

    h1,
    #hero p {
        text-align: left;
    }

    #hero p {
        max-width: 435px;
        margin-left: 0px;
    }

    #hero #hero-links {
        display: flex;
        justify-content: left;
        flex-direction: row-reverse;
    }

    #hero #hero-links .menu-link {
        margin: 0;
    }

    #hero #hero-links .button {
        margin: 0px 40px 0px 20px;
    }

    #hero #hero-photos {
        margin-top: 0px;
    }

    #hero #hero-photos #card-1 {
        left: -20%;
    }

    #hero #hero-photos #card-2 {
        right: -20%;
        bottom: -20%;
    }


    /* section brands */
    #brands #grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #brands #grid div:last-child {
        display: flex;
        align-items: flex-start;
    }

    #brands #grid #amazon {
        display: flex;
        width: 96px;
    }


    /* section recent projects */
    #recent-projects {
        margin-top: 200px;
    }

    #recent-projects #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* section clients */
    #clients {
        height: 622px;
        max-width: 1320px;
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;
    }

    #clients h2 {
        max-width: none;
    }

    #clients img {
        width: 150px;
        height: 150px;
    }


    /* section our services */
    #our-services {
        margin-top: 200px;
    }


    /* section questions */
    #questions {
        max-width: 1320px;
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;
    }


    /* footer */
    footer {
        margin-top: 200px;
    }
}