/* Color styles: 
    Blues: #072AC8, #43D2FF, #A2D6F9, #D1EDFF, #ECF7FF
    Greys: #292E47, #6B708D, #F2F4FC
    Yellow: #FFC600
*/

* {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: #F2F4FC;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* shared */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.button {
    color: #FFFFFF;
    background-color: #072AC8;
    padding: 15px 30px;
}

.button:hover {
    background-color: #292E47;
}

.menu-link {
    font-weight: 500;
    color: #6B708D;
}

.menu-link:hover {
    color: #072AC8;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

header #circle-logo {
    height: 18px;
}

header ul {
    display: none;
}

header ul li .menu-link {
    padding: 20px;
}

header ul li .actual-page {
    color: #0082F3;
}

header .button {
    display: none;
}

header #display-menu {
    cursor: pointer;
    padding: 25px;
}

header #menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    overflow: visible;
    min-width: 200px;
}

header #menu-items a {
    background-color: #C8C8C8;
    padding: 20px;
}

header #display-menu #menu-icon {
    height: 17px;
}


/* section form */
#form {
    padding: 0px 30px;
}

h1 {
    font-size: 40px;
    text-align: left;
    color: #292E47;
    margin: 0px 0px 30px 0px;
}

#form form {
    max-width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#form form label {
    font-size: 20px;
    font-weight: 400;
    color: #6B708D;
}

#form form input,
#form form #textarea {
    border: transparent;
    background-color: rgba(107, 112, 141, 0.1);
    width: 100%;
    height: 70px;
    outline: none;
    padding: 20px;
    margin-top: 10px;
}

#form form #textarea {
    height: 200px;
    overflow: auto;
}

#form form .button {
    color: #FFFFFF;
    border: transparent;
    background-color: #072AC8;
    cursor: pointer;
    width: 100%;
    height: 70px;
    padding-left: 20px;
}

#form form .button:hover {
    background-color: #292E47;
}

#p-success {
    font-size: 20px;
    color: green;
    text-align: center;
    padding: 10px;
}

#p-error {
    font-size: 20px;
    color: red;
    text-align: center;
    padding: 10px;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 100px 30px;
    margin-top: 60px;
}

footer #text-footer {
    text-align: center;
}

footer a img {
    width: 100px;
    margin-bottom: 30px;
}

footer p {
    line-height: 150%;
    color: #6B708D;
    max-width: 260px;
}

footer #footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 20px;
}

footer #footer-links:active {
    color: red;
}


/* media queries */
@media screen and (min-width: 480px) {

}


@media screen and (min-width: 768px) {
    /* section form */
    h1 {
        font-size: 60px;
        margin: 20px 0px 80px 0px;
    }

    #form form #form-flex {
        width: 100%;
        max-width: 100%;
        display: flex;
    }

    #form form #form-flex div:nth-child(1) {
        width: 100%;
        display: block;
        margin-right: 10px;
    }

    #form form #form-flex div:nth-child(2) {
        width: 100%;
        display: block;
        margin-left: 10px;
    }


    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    footer #text-footer {
        text-align: left;
    }
}


@media screen and (min-width: 992px) {
    /* shared */
    header, #form, footer {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }


    /* header */
    header {
        padding: 0px 30px;
        margin-top: 70px;
    }

    header ul {
        display: flex;
    }

    header a:first-child {
        margin-left: 0px;
    }

    header #menu-toggle {
        display: none;
    }

    header .button {
        display: flex;
        margin-right: 0px;
    }
    
    header #menu-icon {
        display: none;
    }


    /* section form */
    #form {
        margin-top: 200px;
    }

    /* footer */
    footer {
        margin-top: 200px;
    }
}